<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
		
		<!-- 
			component-scan已经支持了注解的驱动
		<mvc:annotation-driven/> -->
		
		<context:component-scan base-package="com.yfann.web.action"/>

    <!-- 注意id=multipartResolver必须要配 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- maxUploadSize:文件最大限制，单位是字节 -->
        <property name="maxUploadSize" value="10485760"></property>
    </bean>
	
		
		<!--视图解析器 /WEB-INF/jsp/index.jsp -->
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			<property name="prefix" value="/WEB-INF/pages/"></property>
			<property name="suffix" value=".jsp"></property>
		</bean>
		
	
		
		
</beans>
